<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Desafio Latam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
</html>
<body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #1b0088;">
        <a class="navbar-brand" style="color:white;" href="http://127.0.0.1:5000">
            <img src="{{ url_for('static', filename='img/logo-latam.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            Desafio Latam
        </a>
    </nav>
    <div class="container">
        <!-- Modal -->
        <div class="modal" id="empModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Resultado API</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tableResultApi" class="table">
                            <thead>
                                <tr>
                                    <th data-field="firstname" scope="col">Nombre</th>
                                    <th data-field="lastname" scope="col">Apellido</th>
                                    <th data-field="age" scope="col">Edad</th>
                                    <th data-field="date" scope="col">Fecha Nacimiento</th>
                                    <th data-field="text" scope="col">Mensaje</th>
                                </tr>
                                <tbody>
                                    
                                </tbody>
                              </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <div class="row"><hr></div>
        <div class="row align-items-center">
            <div class="col">
                <h2>Formulario ingreso Variables</h2>
                <hr></hr>
                <form id="form_birthday" class="needs-validation" novalidate>
                    <div class="form-group">
                      <label for="name">Ingresa tu Nombre</label>
                      <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Ej Matias Camblor" required>
                      <small id="nameHelp" class="form-text text-muted">Ingresa primer nombre y primer apellido</small>
                      <div class="invalid-feedback">
                        Error, ingresa sólo tu primer nombre y apellido.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="born">Fecha de Nacimiento</label>
                      <input type="text" class="form-control" id="born" aria-describedby="nameHelp" placeholder="Ej. 30-12-1987" required>
                      <small id="bornHelp" class="form-text text-muted">Formato fecha DD-MM-YYYY</small>
                      <div class="invalid-feedback">
                        Error, ingresa una fecha con el formato correspondiente
                      </div>
                    </div>
                    <button type="submit" id="callService" class="btn btn-primary">Consultar</button>
                  </form>
            </div>
        </div>
        <div class="row"><hr></div>
        <div class="row align-items-center">
            <div id="result_birthday" class="col" style="display: none;">
                <div class="table-responsive">
                    <table id="tablePeople" class="table">
                        <thead>
                            <tr>
                                <th data-field="id" scope="col">ID</th>
                                <th data-field="first_name" scope="col">Nombre</th>
                                <th data-field="lastname" scope="col">Apellido</th>
                                <th data-field="age" scope="col">Edad</th>
                                <th data-field="new_birthday" scope="col">Fecha Nacimiento</th>
                                <th data-field="message" scope="col">Mensaje</th>
                            </tr>
                            <tbody>
                                
                            </tbody>
                          </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-es-CL.min.js') }}"></script>
    <script>
        (function() {
            //'use strict';
            
            $( "#callService" ).click(function() {
                $( "#result_birthday" ).show( "slow");
            });
            
            $("#form_birthday").submit(function(event){
                event.preventDefault(); //prevent default action 
                var form_data = new FormData();
                form_data.append('name',$('#name').val());
                form_data.append('born',$('#born').val());
                $.ajax({
                    url : 'http://127.0.0.1:5000/birthday',
                    type: 'POST',
                    data : form_data,
                    contentType: false,
                    processData:false,
                    success: function(response,textStatus,jqXHR) {
                        //console.log('success: '+response['people']+', textStatus: '+texttatus+', code: '+jqXHR.status); tableResultApi
                        console.log(response);
                        // Add response in Modal body
                        $('#tableResultApi').bootstrapTable({data: [response]});
                        // Display Modal
                        $('#empModal').modal('show');
                        if (jqXHR.status == 200) {
                            $.ajax({
                                url: 'http://127.0.0.1:5000/get-people',
                                type: 'GET',
                                data: '',
                                contentType: false,
                                processData: false,
                                success: function(responseGet){
                                    $('#tablePeople').bootstrapTable({data: responseGet['people']});
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    alert('Error: '+$.parseJSON(jqXHR.responseText)['error']);
                                    console.log($.parseJSON(jqXHR.responseText)['error']+' '+textStatus);
                                }
                            });
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert('Error: '+$.parseJSON(jqXHR.responseText)['error']);
                        console.log($.parseJSON(jqXHR.responseText)['error']+' '+textStatus);
                    }
                });
            });
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false ) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        //if(/^[A-Z][a-z]{0,19}[\s,][A-Z][a-z]{0,19}$/.test($('#name').val())){
                            //if(/^([0-2][0-9]|(3)[0-1])(\-)(((0)[0-9])|((1)[0-2]))(\-)\d{4}$/.test($('#born').val())){
                                form.classList.add('was-validated');
                            //}  
                        //}                        
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
